<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/search.ejs') %>
    <%- include('../partials/adminNavPartial.ejs') %>
    <div class="container">
        
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/script.js"></script>
</body>
</html>