<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('../partials/adminNavPartial.ejs') %>
    <div class="contaniner">
        Dashboard
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>