<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('../partials/search.ejs') %> <%-
    include('../partials/adminNavPartial.ejs') %>
    <div class="container login-page">
      <h3>Sign in</h3>
      <form action="/login" method="post">
        <label for="login_username"><b>Username: </b></label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          id="login_username"
        />

        <label for="login_password"><b>Password: </b></label>
        <input type="password" name="password" id="login_password" placeholder="Enter Password">
        <button type="submit" class="btn">Login</button>
      </form>

      <h3>Register</h3>
      <form action="/register" method="post">
        <label for="register_username"><b>Username: </b></label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          id="register_username"
        />

        <label for="register_password"><b>Password: </b></label>
        <input type="password" name="password" id="register_password" placeholder="Enter Password">
        <button type="submit" class="btn">Register</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/script.js"></script>
  </body>
</html>
