<nav class="nav">
  <a href="/" class="header-logo">Admin Panel</a>
  <ul class="nav-ul">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>

  <button class="logout-button">Logout</button>
</nav>
