<div class="searchBar">
    <div class="container searchCont">
        <form action="/search" class="search" role="search" method="POST">
            <input type="search" id="searchInput" aria-label="search" name="searchTerm" placeholder="search">
        </form>
        <div class="searchClose">X</div>
    </div>
</div>